.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--glob-padding);
}

.user__container {
  display: flex;
  align-items: center;
}

.view__container {
  width: 100%;
  height: 100vh;
  display: flex;
  row-gap: 15px;
  flex-direction: column;
  padding: 100px var(--glob-padding);
  background-image: url(./components/images/img3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.please__container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.form__container {
  display: flex;
  row-gap: 15px;
  flex-direction: column;
  align-items: center;
}

.cont__container {
  display: flex;
  row-gap: 15px;
  flex-direction: column;
  align-items: center;
}

.items__container {
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1100;
  width: 100vw;
  background-color: var(--bg__color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px var(--glob-padding);
  box-shadow: 0px 1px 7px 0px rgb(0 0 0 / 75%);
}

.nav__link {
  font-weight: 700;
  font-size: 25px;
  transition-duration: 800ms;
  color: var(--navlink__color);
}

.nav__link:not(:last-child) {
  margin-right: 20px;
}

.user__name {
  font-weight: 800;
  font-size: 35px;
  text-shadow: 0px 2px 1px rgb(107 84 102);
  transition-duration: 800ms;
  color: var(--navlink__color);
  margin-right: 20px;
}

.nav__link:hover,
.user__smile:hover,
.user__name:hover,
.active {
  margin-right: 20px;
  color: var(--navlink__hover);
  text-shadow: 0px 2px 1px rgb(107 84 102);
  font-weight: 800;
  transform: scale(1.1);
}

.user__link,
.user__smile {
  font-weight: 700;
  font-size: 25px;
  transition-duration: 800ms;
  color: var(--navlink__color);
  margin-right: 20px;
}

.user__btn,
.form__btn {
  font-size: 15px;
  font-weight: 700;
  color: rgba(51, 51, 51, 0.8);
  padding: 5px;
  border: none;
  box-shadow: var(--btn__shadow);
  cursor: pointer;
  background-color: var(--bg__color);
  border-radius: 5px;
  transition-duration: 800ms;
}
.user__btn:hover {
  transform: scale(1.1);
  background-color: var(--btn__red);
}
.form__btn:hover {
  transform: scale(1.1);
  background-color: var(--btn__green);
}

.home__linc {
  font-weight: 800;
  font-size: 30px;
  transition-duration: var(--transition__duration);
  color: var(--bg__color);
}
.home__linc:hover,
.active {
  margin-right: 20px;
  font-size: 35px;
  text-shadow: 0px 2px 1px rgb(178 146 171);
  font-weight: 800;
  transform: scale(1.1);
}

.home__title {
  display: flex;
  justify-content: center;
  font-weight: 800;
  color: var(--secondary__color);
}

.please {
  display: flex;
  justify-content: center;
  color: var(--secondary__light);
  font-size: 20px;
  font-weight: 700;
}

input {
  font-size: 20px;
  border: transparent;
  border-radius: 5px;
  box-shadow: var(--btn__shadow);
  color: var(--secondary__light);
  padding: 5px;
  transition: var(--transition__duration);
}
input:hover,
input:focus {
  border: 1px solid var(--secondary__light);
  transform: scale(1.1);
}

.items {
  row-gap: 20px;
  justify-content: flex-start;
  list-style: none;
}

.item {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #00000040;
}
.item__name {
  font-size: 20px;
  font-weight: 700;
  color: var(--secondary__color);
}
